<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Объявления</title>
    <link rel="stylesheet" th:href="@{/static/styles/background.css}">
    <style>
        .checkboxes {
            text-align: left;
        }

        .checkboxes input {
            margin: 0px 5px 0px 15px;
        }

        .checkboxes label {
            margin: 0px 35px 0px 3px;
        }
    </style>
</head>
<body>
<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a th:href="@{/post/}" class="navbar-brand">job4j_car</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a th:href="@{/post/create}" class="nav-item nav-link">Добавить объявление</a>
                    <div class="navbar-nav" th:if="${user.login != 'Гость'}">
                        <a th:href="@{/user/profile}" class="nav-item nav-link">Профиль</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Объявления</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/post/new}" class="dropdown-item">Новые</a>
                            <a th:href="@{/post/with-photo}" class="dropdown-item">С фото</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Цвет</a>
                        <div class="dropdown-menu">
                            <div th:each="color : ${colors}">
                                <a th:href="@{/post/color/{name}(name=${color})}" class="dropdown-item"
                                   th:text="${color.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Марка</a>
                        <div class="dropdown-menu">
                            <div th:each="mark : ${marks}">
                                <a th:href="@{/post/mark/{id}(id=${mark.id})}" class="dropdown-item"
                                   th:text="${mark.name}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/post/brand}" method="post" enctype="multipart/form-data" class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Найти" name="brand">
                        <button type="submit" class="btn btn-warning"><i class="bi-search"></i></button>
                    </div>
                </form>
                <div class="navbar-nav" th:if="${user.login != 'Гость'}">
                    <a th:text="${user.login}" class="nav-item nav-link"></a>
                    <a th:href="@{/user/logout}" class="nav-item nav-link">Выйти</a>
                </div>
                <div class="navbar-nav" th:if="${user.login == 'Гость'}">
                    <a th:href="@{/user/login}" class="nav-item nav-link">Войти</a>
                    <a th:href="@{/user/register}" class="nav-item nav-link">Регистрация</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div th:if="${user.login != 'Гость'}">
    <div class="container-fluid">
        <form class="mt-4" th:action="@{/post/search}" method="post" th:object="${criterion}" enctype="multipart/form-data">
            <div class="checkboxes">
            <span>
                <label for="markIds"><h5>Марка:</h5></label>
                <input type="checkbox" id="markIds" name="markIds" multiple="multiple"
                       th:each="mark : ${marks}"
                       th:text="${mark.name}"
                       th:value="${mark.id}"
                       th:selected="${criterion.markIds.contains(mark.id)}"
                />
            </span>
            </div>
            <div class="checkboxes">
            <span>
                <label for="colors"><h5>Цвет:</h5></label>
                <input type="checkbox" id="colors" name="colors" multiple="multiple"
                       th:each="color : ${colors}"
                       th:text="${color.name}"
                       th:value="${color}"
                       th:selected="${criterion.markIds.contains(color)}"
                />
            </span>
            </div>
            <div>
                <label for="brand" class="form-label"><h5>Название:</h5></label>
                <input type="text" class="form-control" id="brand" name="brand" th:field="${criterion.brand}"
                       placeholder="Название машины без марки">
            </div>
            <div>
                <input type="checkbox" id="fresh" name="fresh" th:field="${criterion.fresh}"/>
                <label for="fresh"><h5>Свежие объявления</h5></label>
            </div>
            <div>
                <input type="checkbox" id="withFile" name="withFile" th:field="${criterion.withFile}"/>
                <label for="withFile"><h5>С фото</h5></label>
            </div>
            <div>
                <div class="col-sm">
                    <button class="btn btn-success" type="submit">Найти</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col" th:each="banner: ${posts}">
                <div class="card border-dark bg-success">
                    <a th:if="${banner.fileId != 0}">
                        <img th:src="@{/files/{id}(id=*{banner.fileId})}"
                             class="card-img-top" height="222" alt="No image">
                    </a>
                    <a th:if="${banner.fileId == 0}">
                        <img th:src="@{/static/img/default.png}"
                             class="card-img-top" height="222" alt="No image">
                    </a>
                    <a class="text-decoration-none text-reset" th:href="@{/post/{id}(id=${banner.postId})}">
                        <div class="card-body text-center">
                            <h5 class="card-title" th:text="${banner.markName} + ' ' + ${banner.carName}">mark</h5>
                            <p class="card-text"
                               th:text="${banner.price} + '₽'">price</p>
                        </div>
                    </a>
                    <div class="card-footer success">
                        <small class="text-dark"
                               th:text="${#temporals.format(banner.created, 'dd/MM/yyyy HH:mm')}">data</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>