<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Объявление</title>
    <link rel="stylesheet" th:href="@{/static/styles/background.css}">
    <link rel="stylesheet" th:href="@{/static/styles/button.css}">
</head>
<body>
<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a th:href="@{/post/}" class="navbar-brand">job4j_car</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a th:href="@{/post/create}" class="nav-item nav-link">Добавить объявление</a>
                    <div class="navbar-nav" th:if="${user.login != 'Гость'}">
                        <a th:href="@{/user/profile}" class="nav-item nav-link">Профиль</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Объявления</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/post/new}" class="dropdown-item">Новые</a>
                            <a th:href="@{/post/with-photo}" class="dropdown-item">С фото</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Цвет</a>
                        <div class="dropdown-menu">
                            <div th:each="color : ${colors}">
                                <a th:href="@{/post/color/{name}(name=${color})}" class="dropdown-item"
                                   th:text="${color.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Марка</a>
                        <div class="dropdown-menu">
                            <div th:each="mark : ${marks}">
                                <a th:href="@{/post/mark/{id}(id=${mark.id})}" class="dropdown-item"
                                   th:text="${mark.name}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/post/mark}" method="post" enctype="multipart/form-data" class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Найти" name="brand">
                        <button type="submit" class="btn btn-warning"><i class="bi-search"></i></button>
                    </div>
                </form>
                <div class="navbar-nav" th:if="${user.login != 'Гость'}">
                    <a th:text="${user.login}" class="nav-item nav-link"></a>
                    <a th:href="@{/user/logout}" class="nav-item nav-link">Выйти</a>
                </div>
                <div class="navbar-nav" th:if="${user.login == 'Гость'}">
                    <a th:href="@{/user/login}" class="nav-item nav-link">Войти</a>
                    <a th:href="@{/user/register}" class="nav-item nav-link">Регистрация</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-md">
    <h3 align="center" th:text="${post.car.mark.name} + ' ' + ${post.car.name}"></h3>
    <div class="box text-center">
        <a th:each="file: ${post.files}">
            <img th:src="@{/files/{id}(id=*{file.id})}" height="222" alt="No image">
        </a>
    </div>
    <div th:if="${user.login == post.author.login}">
        <form th:action="@{/post/add/{id}(id=${post.id})}" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label for="file"><b>Фото</b></label>
                        <input class="form-control form-control-sm w-100" type="file" id="file" name="file">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <button class="button" type="submit">Добавить фото</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p class="textonleft" th:text="${#dates.format(post.created, 'dd/MM/yyyy')}"></p>
    <p class="textonright" th:text="${post.author.login}"></p>
    <div><h4>Цвет:</h4>
        <div th:text="${post.car.color.name}"></div>
    </div>
    <div><h4>Описание:</h4>
        <p style="text-align: justify;" class="text-break" th:text="${post.description}"></p>
    </div>
    <div class="mb-3"><h4>Предыдущие владельцы:</h4>
            <a th:text="${post.car.owners}"></a>
    </div>
    <div><h4>Цена:</h4>
        <p class="textonleft" th:text="${post.history.last().after} + '₽'"></p>
        <p class="textonright"
           th:text="'Последнее обновление цены ' + ${#temporals.format(post.history.last().created, 'dd/MM/yyyy')}"></p>
    </div>
    <div th:if="${user.login == post.author.login}">
        <form th:action="@{/post/change-price}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="${post.id}">
            <div class="mb-3">
                <label for="price" class="form-label"><b>Цена:</b></label>
                <input type="number" class="form-control" id="price" name="price">
            </div>
            <div class="col-6">
                <button class="button" type="submit">Изменить цену</button>
            </div>
        </form>
    </div>
    <div class="green" th:if="${!post.sold}">
        <h4>Не продано</h4>
    </div>
    <div class="green" th:if="${post.sold}">
        <h4>Продано</h4>
    </div>
    <div th:if="${user.login == post.author.login}">
        <form th:action="@{/post/sold}" method="post" enctype="multipart/form-data" th:object="${post}">
            <input type="hidden" name="id" th:field="*{id}">
            <input type="hidden" name="sold" th:field="*{sold}">
            <div class="col-6" th:if="${post.sold}">
                <button class="button" type="submit">Выставить на продажу</button>
            </div>
            <div class="col-6" th:if="${!post.sold}">
                <button class="button" type="submit">Продать</button>
            </div>
        </form>
    </div>
    <div th:if="${user.login != 'Гость' && user.login != post.author.login}">
        <form th:action="@{/user/subscribe}" method="post" enctype="multipart/form-data" th:object="${post}">
            <input type="hidden" name="id" th:field="${post.id}">
            <div class="col-6">
                <button class="button" type="submit">Подписаться</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>