<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/static/styles/background.css}">
    <link rel="stylesheet" th:href="@{/static/styles/button.css}">
</head>
<body>
<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a th:href="@{/post/}" class="navbar-brand">job4j_car</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a th:href="@{/post/create}" class="nav-item nav-link">Добавить объявление</a>
                    <a th:href="@{/user/profile}" class="nav-item nav-link active">Профиль</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Объявления</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/post/new}" class="dropdown-item">Новые</a>
                            <a th:href="@{/post/with-photo}" class="dropdown-item">С фото</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Цвет</a>
                        <div class="dropdown-menu">
                            <div th:each="color : ${colors}">
                                <a th:href="@{/post/color/{name}(name=${color.name})}" class="dropdown-item"
                                   th:text="${color.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Марка</a>
                        <div class="dropdown-menu">
                            <div th:each="mark : ${marks}">
                                <a th:href="@{/post/mark/{id}(id=${mark.id})}" class="dropdown-item"
                                   th:text="${mark.name}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/post/mark}" method="post" enctype="multipart/form-data" class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Найти" name="brand">
                        <button type="submit" class="btn btn-warning"><i class="bi-search"></i></button>
                    </div>
                </form>
                <div class="navbar-nav">
                    <a th:text="${user.login}" class="nav-item nav-link"></a>
                    <a th:href="@{/user/logout}" class="nav-item nav-link">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-md">
    <h4 align="center">
        <div th:text="'Добро пожаловать, ' + ${user.login} + '!'"></div>
    </h4>
    <div class="green"><h4>Ваши объявления:</h4></div>
    <a th:each="banner: ${posts}">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8">
                <h4><a th:href="@{/post/{id}(id=${banner.postId})}"
                       th:text="${banner.markName} + ' ' + ${banner.carName}"></a></h4>
                <h5>Дата публикации:</h5>
                <a th:text="${#dates.format(banner.created, 'dd/MM/yyyy')}"></a>
                <div class="col-6 col-sm-3">
                    <a th:href="@{/post/delete/{id}(id=${banner.postId})}">
                        <button class="button">Удалить</button>
                    </a>
                </div>
                <div class="col-6 col-sm-3">
                    <a th:href="@{/post/modify/{id}(id=${banner.postId})}">
                        <button class="button">Изменить</button>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <a th:if="${banner.fileId != 0}">
                    <img th:src="@{/files/{id}(id=*{banner.fileId})}"
                         class="card-img-top" height="222" alt="No image">
                </a>
                <a th:if="${banner.fileId == 0}">
                    <img src="/static/img/default.png" class="card-img-top" height="222" alt="No image">
                </a>
            </div>
        </div>
    </a>
    <div class="green"><h4>Ваши подписки:</h4></div>
    <a th:each="banner: ${subscribe}">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8">
                <h5>Марка:</h5>
                <a th:href="@{/post/{id}(id=${banner.postId})}"
                   th:text="${banner.markName} + ' ' + ${banner.carName}"></a>
                <h5>Дата публикации:</h5>
                <a th:text="${#dates.format(banner.created, 'dd/MM/yyyy')}"></a>
                <div class="col-6 col-sm-3">
                    <a th:href="@{/user/unsubscribe/{id}(id=${banner.postId})}">
                        <button class="button">Отписаться</button>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <a th:if="${banner.fileId != 0}">
                    <img th:src="@{/files/{id}(id=*{banner.fileId})}"
                         class="card-img-top" height="222" alt="No image">
                </a>
                <a th:if="${banner.fileId == 0}">
                    <img src="/static/img/default.png" class="card-img-top" height="222" alt="No image">
                </a>
            </div>
        </div>
    </a>
</div>
</body>
</html>