<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/static/styles/login.css}">
    <link rel="stylesheet" th:href="@{/static/styles/background.css}">
</head>
<body>
<form id="main-wrapper" class="container" th:action="@{/user/register}" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Регистрация</h3>
                                </div>
                                <div th:if="${message} != null">
                                    <p class="text-muted mt-2 mb-5" th:text="${message}"></p>
                                </div>
                                <div th:if="${message} == null">
                                    <p class="text-muted mt-2 mb-5">Придумайте логин и
                                        пароль</p>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="login">Логин</label>
                                        <input type="text" class="form-control" id="login" name="login" required>
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="password">Пароль</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               required>
                                    </div>
                                    <button type="submit" class="btn btn-theme">Зарегистрироваться</button>
                                    <div>
                                        <a th:href="@{/user/login}" class="forgot-link float-right text-primary">
                                            Уже зарегистрированы?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <img src="https://images.unsplash.com/photo-1617650727577-950c8e4cf977?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
                                     alt="car">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>